*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#050f16;
color:white;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 80px;
}

.logo-text{
font-size:24px;
font-weight:bold;
}

.logo-text span{
color:#6edb8f;
}

nav a{
margin:0 15px;
text-decoration:none;
color:#d0d0d0;
font-size:15px;
}

nav a:hover{
color:#6edb8f;
}

/* SIGN IN BUTTON */

.signin-btn{
background:#6edb8f;
padding:10px 20px;
border-radius:20px;
color:black;
text-decoration:none;
font-weight:bold;
}

/* HERO */

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:80px;
height:80vh;
}

.hero-left{
max-width:500px;
}

.hero-left h1{
font-size:60px;
}

.hero-left span{
color:#6edb8f;
}

.hero-left h2{
margin-top:20px;
font-size:24px;
color:#cfcfcf;
}

.hero-left p{
margin-top:10px;
color:#9a9a9a;
}

.cta{
margin-top:30px;
background:#6edb8f;
border:none;
padding:15px 35px;
border-radius:25px;
font-weight:bold;
cursor:pointer;
}

/* LOGO */

.logo{
width:300px;
border-radius:30px;
box-shadow:0 0 40px rgba(0,255,120,0.2);
}

/* FOOTER */

footer{
text-align:center;
padding:30px;
color:#8a8a8a;
}
