body {
  margin: 0;
  font-family: Arial;
  background: #0d0f12;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 8%;
  background: #111418;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.logo span {
  color: #4CAF50;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #ccc;
}

nav a:hover {
  color: #4CAF50;
}

button {
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  background: #4CAF50;
  color: white;
  cursor: pointer;
}

.hero {
  padding: 120px 8%;
}

.hero h1 {
  font-size: 50px;
}

.hero span {
  color: #4CAF50;
}
