*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#050f16;
color:white;
}

.hero{
display:flex;
align-items:center;
justify-content:space-between;
height:90vh;
padding:80px;
}

.hero-left{
max-width:500px;
}

.title{
font-size:60px;
font-weight:800;
letter-spacing:2px;
}

.title span{
color:#6edb8f;
}

.subtitle{
margin-top:20px;
font-size:24px;
color:#d3d3d3;
}

.description{
margin-top:10px;
color:#9a9a9a;
font-size:16px;
}

.btn{
margin-top:30px;
padding:14px 30px;
border:none;
border-radius:25px;
background:#6edb8f;
color:black;
font-size:16px;
font-weight:600;
cursor:pointer;
}

.btn:hover{
background:#59c27a;
}

.hero-right{
display:flex;
align-items:center;
justify-content:center;
}

/* LOGO STYLE */

.logo{
width:300px;
border-radius:25px;   /* curved edges */
box-shadow:0 0 35px rgba(0,255,120,0.2); /* subtle glow */
}

footer{
text-align:center;
padding:20px;
color:#8a8a8a;
font-size:14px;
}

footer a{
color:#6edb8f;
text-decoration:none;
margin:0 5px;
}
